{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block extra_css %}
<link href="{% static 'css/auth.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="auth-form">
    <form method="post" action="{% url 'login' %}">
        <img src="{% static 'img/DjangoAuthLogo.png' %}" alt="DjangoAuthLogo" height="50" class="d-inline-block align-text-top">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            <li>{{ message }}</li>
        </div>
        {% endfor %}
        {% endif %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp"
                placeholder="Enter email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}